body {
    background-color: #26B2F3;
}

.image{
    border: 3px solid rgb(173, 166, 166);
    border-radius: 10px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}

h1{
    text-align: center;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #9b9b9b;
    width: fit-content;
    margin: 0 auto;
}
p {
    background-color: #097fb6;
}

.link-button:hover{
    background-color: rgb(2, 155, 2);
    border-radius: 15%;
    border-width: 3px;
    border-color: black;
}